* {
  overflow-anchor: none;
}

main {
  display: flex
}

h4 {
  margin-bottom: 5px;
}

aside {
  width: 25%;
  padding-left: 10px;
}

section {
  width: 70%;
}

header {
  
  display: flex;
  justify-content: space-between;
  background-color: lightskyblue;
  padding: 0 20px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.change p{
  text-align: center;
  margin-top: 0;
}


.choice {
  width: 100%;
  height: 3rem;
  background-color: rgb(245, 192, 94);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.choice:hover {
  border: tomato 1px solid;
}

hr {
  border-style: double;
}

button {
  margin: 20px 0;
  text-align: center;
}
